

<header>
  <h1>Zadaća 2</h1>   
</header>

<div id="navigacija">
<nav>
  <div>
    <a routerLink="/">Početna</a>
    <a routerLink="/prijava">Prijava</a>
    <a routerLink="/registracija">Registracija</a>
    <a routerLink="/dokumentacija">Dokumentacija</a>
    <a routerLink="/filmovi">Filmovi</a>
  </div>
  <div>
    <a routerLink="/dvorazinska-auth" id="navAuth" style="visibility: hidden;">Dvorazinska auth</a>
    <a routerLink="/osobe" id="navOsobe" style="visibility: hidden;">Osobe</a>
    <a routerLink="/dodavanje" id="navDodavanje" style="visibility: hidden;">Dodaj osobu</a>
    <a routerLink="/korisnici" id="navKorisnici" style="visibility: hidden;">Korisnici</a>
  </div>
  
</nav>
</div>

<router-outlet></router-outlet>
 
  <footer></footer>
